@theme {
  /* Colors */
  --color-bone: #e7ded1;
  --color-void: #000000;
  --color-maroon-gradient: #4c0b02;
  --color-violet-gradient: #1e1594;
  --color-crimson-gradient: #6e1815;
  --color-plum-gradient: #6d0251;
  --color-olive-gradient: #a8b428;

  /* Typography */
  --font-nb-akademie: 'NB Akademie', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-nb-akademie-mono: 'NB Akademie Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}